* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.main-container {
  width: 100%;
}

#header {
  background-color: #ffffff;
  position: sticky;
  width: 100%;
  z-index: 50;
  top: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffffff;
  align-items: center;
  width: 80%;
  margin: auto;
}
.header-img {
  width: 30%;
}
.header-img img {
  width: 50%;
  height: 3rem;
}
.SpanBtn {
  font-weight: 900 !important;
}
.btn {
  text-transform: capitalize;
  padding: 2% 4%;
  border-radius: 6rem;
  margin: 3% 3.5%;
  font-size: 100%;
  font-weight: 900;
  border: none;
  outline: none;
}
.btn-0 {
  background-color: #cae2e4;
  border: 2px solid #2b434a;
  color: #2b434a;
}

.btn-1 {
  border: 2px solid #cae2e4;
  background-color: #f6f8f8;
  color: #2b434a;
}
.header-section .anchor-coaches .btn-1:hover {
  border: 2px solid #2b434a;
  background-color: #cae2e4;
}
.btn-2 {
  background-color: #ff8672;
  color: #ffffff;
}
.header-last-btn .anchor-get-Start .btn-2:hover,
.header-last-btn .anchor-Login .btn-2:hover,
.main-first-section a button:hover,
.btn-section a button:hover {
  background-color: #2b434a;
}
.header-section {
  width: 35%;
}
/* main-section */
main {
  background-color: #f8f7f6;
}
#main-section {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 3%;
}
.main-first-section,
.main-second-section {
  width: 50%;
}
.main-first-section h1 {
  padding: 15% 3% 3% 0%;
  color: #2b434a;
  font-size: 3rem;
}
.main-first-section p {
  padding: 3% 3% 3% 0%;
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: #7b7272;
}
.main-first-section button {
  padding: 2% 6%;
  border-radius: 5rem;
  margin: 3% 2%;
  color: #ffffff;
  background-color: #ff8672;
  border: none;
  outline: none;
  font-weight: 900;
  font-size: 1.1rem;
}
.main-second-section {
  border-radius: 0% 25% 0% 25%;
  background-color: #ff8672;
  width: 50%;
  height: 66vh;
  position: relative;
}
.main-second-section img {
  width: 100%;
  padding: 36px;

  height: 28rem;
}
.center-div {
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 1.3rem;
}
.center-div .qoute {
  font-size: 5rem;
  font-weight: 900;
  color: #c89721;
  height: 4.5rem;
}
.center-div .para {
  font-size: 1.5rem;
  color: #7b7272;
  line-height: 2.1rem;
}
.inner-section {
  display: flex;
  width: 25%;
  margin: auto;
  padding-top: 2%;
}
.inner-section img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.img-description-para {
  text-align: start;
  padding: 0% 7%;
}
.amir {
  color: #c89721;
}
.Co-Founder {
  color: #7b7272;
}
/* box-center-elements */
.box-center-elements {
  width: 100%;
  padding-top: 7%;
}
.third-para {
  border-radius: 0% 25% 0% 25%;
  background-color: #f4efe5;
  width: 50%;
  height: 75vh;
  margin: auto;
  padding: 3%;
}
.third-para h1 {
  color: #2b434a;
  line-height: 3rem;
}
.third-para ul li {
  color: #7b7272;
  line-height: 2rem;
  list-style-type: none;
}
ul li::before {
  content: "●";
  color: #ff8672;
  font-weight: bold;
  display: inline-block;
  width: 1.5rem;
  font-size: 2.5rem;
}
.btn-section {
  width: 15%;
  margin: auto;
  padding-top: 3%;
}
.button {
  text-transform: capitalize;
  padding: 6% 20%;
  border-radius: 6rem;
  background-color: #ff8672;
  color: #ffffff;
  font-size: 100%;
  font-weight: 900;
  border: none;
  outline: none;
}
.div-forth h1 {
  text-align: center;
  color: #2b434a;
  padding: 3% 0;
  font-weight: 900;
}
#imgSectionBtm {
  display: flex;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
}
.imgSectionBottom {
  padding: 1% 0 0 1%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.imgSectionBottom:hover {
  filter: brightness(0.5);
}
.imgSection {
  animation: imgSection 5s ease-in-out 0s normal;
  width: 50%;
}
@keyframes imgSection {
  from {
    padding: 50%;
    width: 45%;
  }
  to {
    padding: 0%;
    width: 50%;
  }
}
.imgSectionBtm {
  animation: imgSectionBtm 5s ease-in-out 0s normal;
  width: 33.3%;
}
@keyframes imgSectionBtm {
  from {
    padding: 50%;
    width: 29%;
  }
  to {
    width: 33.3%;
    padding: 0%;
  }
}
footer {
  width: 100%;
}
.footer-section-posi {
  position: relative;
  top: 17rem;
}
.footer-section {
  display: flex;
  color: #ffffff;
  width: 90%;
  justify-content: space-between;
}
.para-footer {
  font-size: 0.7rem;
  width: 40%;
}
.para-footer span {
  padding: 0 2%;
  text-align: center;
}
.para-footer p {
  padding-top: 3%;
  text-align: center;
}
.icon {
  width: 20%;
  font-size: 1.3rem;
}
.icon a i {
  padding: 1%;
  width: 20%;
  color: #ffffff;
}
.icon a i:hover {
  color: #2b434a;
}
.wave {
  width: 100%;
}
.bg-footer {
  background-color: #ff8672;
  height: 15vh;
  margin-top: -1%;
}
@media screen and (min-width: 1px) and (max-width: 278px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    width: 100%;
  }
  .header-img {
    width: 4rem;
    height: 2rem;
    padding: 3% 1% 1% 6%;
  }
  .header-last-btn {
    width: 100%;
  }
  .header-center-btn {
    width: 90%;
  }
  .btn {
    text-transform: capitalize;
    padding: 2% 4%;
    border-radius: 6rem;
    margin: 3% 3.5%;
    font-weight: 900;
    border: none;
    outline: none;
    font-size: 10px;
  }
  .btn-2 {
    background-color: #ff8672;
    color: #ffffff;
    width: 90%;
  }
  #main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3%;
  }
  .main-first-section,
  .main-second-section {
    width: 100%;
  }
  .main-first-section h1 {
    padding: 15% 0% 3% 0%;
    color: #2b434a;
    font-size: 3rem;
    font-weight: 900;
  }
  .main-first-section p {
    padding: 2% 0%;
    line-height: 1.3rem;
    font-size: 1rem;
    color: #7b7272;
  }
  .main-first-section button {
    padding: 2% 6%;
    border-radius: 5rem;
    margin: 3% 14%;
    color: #ffffff;
    background-color: #ff8672;
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 1.1rem;
    width: 60%;
  }
  .main-second-section {
    border-radius: 25% 0% 0% 25%;
    background-color: #ff8672;
    height: 60vh;
    position: relative;
  }
  .main-second-section img {
    width: 100%;
    height: 55vh;
  }
  .center-div {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  .center-div .qoute {
    font-size: 4.5rem;
    font-weight: 900;
    color: #c89721;
    height: 4rem;
  }
  .center-div .para {
    font-size: 1.1rem;
    color: #7b7272;
    line-height: 2rem;
    font-weight: 600;
    padding: 0% 10%;
  }
  .inner-section {
    display: flex;
    width: 80%;
    padding-top: 2%;
    align-items: center;
  }
  .inner-section img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 9%;
  }
  .amir {
    color: #c89721;
    font-size: 1rem;
    font-weight: 600;
  }
  .Co-Founder {
    color: #7b7272;
    font-size: 1rem;
    font-weight: 600;
  }
  .box-center-elements {
    width: 100%;
    padding-top: 7%;
  }
  .third-para {
    border-radius: 0% 25% 0% 0%;
    background-color: #f4efe5;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 3%;
  }
  .third-para h1 {
    color: #2b434a;
    line-height: 3rem;
    padding-top: 5%;
    font-weight: 900;
  }
  .third-para ul li {
    color: #7b7272;
    line-height: 1.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    list-style-position: outside;
    margin-left: 11%;
    padding: 2% 0;
  }
  ul li::before {
    content: "●";
    color: #ff8672;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    font-size: 1.4rem;
    margin-left: -7%;
    margin-top: 0%;
  }
  .btn-section {
    width: 60%;
    margin: auto;
    padding-top: 8%;
  }
  .div-forth h1 {
    text-align: center;
    color: #2b434a;
    padding: 13% 14%;
    font-weight: 900;
    font-size: 2.1rem;
  }
  #imgSectionBtm {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 7%;
  }
  .imgSection {
    animation: imgSection 5s ease-in-out 0s normal;
    width: 100%;
    padding: 2%;
  }
  @keyframes imgSection {
    from {
      padding: 50%;
      width: 90%;
    }
    to {
      padding: 0%;
      width: 100%;
    }
  }
  .imgSectionBtm {
    animation: imgSectionBtm 5s ease-in-out 0s normal;
    width: 50%;
  }
  @keyframes imgSectionBtm {
    from {
      padding: 50%;
      width: 45%;
    }
    to {
      width: 50%;
      padding: 0%;
    }
  }
  .footer-section-posi {
    background-color: #ff8672;
    position: relative;
    top: 0rem;
  }
  .footer-section-posi img {
    width: 45%;
    padding: 5% 0px;
  }
  .footer-section {
    display: flex;
    color: #ffffff;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .para-footer {
    font-size: 0.9rem;
    width: 80%;
    padding: 0 3%;
    font-weight: 600;
    line-height: 1.4rem;
  }
  .icon {
    width: 80%;
    font-size: 1.3rem;
    padding: 4% 10%;
    text-align: center;
  }
  .wave {
    display: none;
  }
  .bg-footer {
    display: none;
  }
}
@media screen and (min-width: 279px) and (max-width: 479px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
    width: 80%;
    margin: auto;
  }
  .header-img img {
    width: 4rem;
    height: 2rem;
    padding: 3% 1% 1% 6%;
  }
  .header-last-btn {
    width: 100%;
  }
  .header-center-btn {
    width: 90%;
  }
  .btn {
    text-transform: capitalize;
    padding: 3% 4%;
    border-radius: 6rem;
    margin: 3% 3.5%;
    font-weight: 900;
    border: none;
    outline: none;
    font-size: 10px;
  }
  .btn-2 {
    background-color: #ff8672;
    color: #ffffff;
    width: 90%;
  }
  #main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3%;
  }
  .main-first-section,
  .main-second-section {
    width: 100%;
  }
  .main-first-section h1 {
    padding: 15% 0% 3% 0%;
    color: #2b434a;
    font-size: 3rem;
    font-weight: 900;
  }
  .main-first-section p {
    padding: 2% 0%;
    line-height: 1.3rem;
    font-size: 1rem;
    color: #7b7272;
  }
  .main-first-section button {
    padding: 2% 6%;
    border-radius: 5rem;
    margin: 3% 14%;
    color: #ffffff;
    background-color: #ff8672;
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 1.1rem;
    width: 60%;
  }
  .main-second-section {
    border-radius: 25% 0% 0% 25%;
    background-color: #ff8672;
    height: 60vh;
    position: relative;
  }
  .main-second-section img {
    width: 100%;
    height: 55vh;
  }
  .center-div {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  .center-div .qoute {
    font-size: 4.5rem;
    font-weight: 900;
    color: #c89721;
    height: 4rem;
  }
  .center-div .para {
    font-size: 1.1rem;
    color: #7b7272;
    line-height: 2rem;
    font-weight: 600;
    padding: 0% 10%;
  }
  .inner-section {
    display: flex;
    width: 80%;
    padding-top: 2%;
    align-items: center;
  }
  .inner-section img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 9%;
  }
  .amir {
    color: #c89721;
    font-size: 1rem;
    font-weight: 600;
  }
  .Co-Founder {
    color: #7b7272;
    font-size: 1rem;
    font-weight: 600;
  }
  .box-center-elements {
    width: 100%;
    padding-top: 7%;
  }
  .third-para {
    border-radius: 0% 25% 0% 0%;
    background-color: #f4efe5;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 3%;
  }
  .third-para h1 {
    color: #2b434a;
    line-height: 3rem;
    padding-top: 5%;
    font-weight: 900;
  }
  .third-para ul li {
    color: #7b7272;
    line-height: 1.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    list-style-position: outside;
    margin-left: 11%;
    padding: 2% 0;
  }
  ul li::before {
    content: "●";
    color: #ff8672;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    font-size: 1.4rem;
    margin-left: -7%;
    margin-top: 0%;
  }
  .btn-section {
    width: 60%;
    margin: auto;
    padding-top: 8%;
  }
  .div-forth h1 {
    text-align: center;
    color: #2b434a;
    padding: 13% 14%;
    font-weight: 900;
    font-size: 2.1rem;
  }
  #imgSectionBtm {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 7%;
  }
  .imgSection {
    animation: imgSection 5s ease-in-out 0s normal;
    width: 100%;
    padding: 2%;
  }
  @keyframes imgSection {
    from {
      padding: 50%;
      width: 90%;
    }
    to {
      padding: 0%;
      width: 100%;
    }
  }
  .imgSectionBtm {
    animation: imgSectionBtm 5s ease-in-out 0s normal;
    width: 50%;
  }
  @keyframes imgSectionBtm {
    from {
      padding: 50%;
      width: 45%;
    }
    to {
      width: 50%;
      padding: 0%;
    }
  }
  .footer-section-posi {
    background-color: #ff8672;
    position: relative;
    top: 0rem;
  }
  .footer-section-posi img {
    width: 45%;
    padding: 5% 0px;
  }
  .footer-section {
    display: flex;
    color: #ffffff;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .para-footer {
    font-size: 0.9rem;
    width: 80%;
    padding: 0 3%;
    font-weight: 600;
    line-height: 1.4rem;
  }
  .icon {
    width: 80%;
    font-size: 1.3rem;
    padding: 4% 10%;
    text-align: center;
  }
  .wave {
    display: none;
  }
  .bg-footer {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    width: 100%;
  }
  .header-img {
    width: 60%;
    padding: 3% 1% 1% 6%;
  }
  .header-last-btn {
    width: 100%;
  }
  .header-center-btn {
    width: 80%;
  }
  .btn-2 {
    background-color: #ff8672;
    color: #ffffff;
    width: 90%;
  }
  #main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main-first-section,
  .main-second-section {
    width: 100%;
  }
  .main-first-section h1 {
    padding: 6% 0% 3% 0%;
    color: #2b434a;
    font-size: 3rem;
    font-weight: 900;
  }
  .main-first-section p {
    padding: 2% 0%;
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 600;
    color: #7b7272;
  }
  .main-first-section-btn {
    display: flex;
    flex-direction: column;
  }
  .main-first-section button {
    padding: 2% 10%;
    border-radius: 5rem;
    color: #ffffff;
    background-color: #ff8672;
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 1.1rem;
  }
  .main-second-section {
    border-radius: 25% 0% 0% 25%;
    background-color: #ff8672;
    height: 65vh;
  }
  .main-second-section img {
    width: 100%;
    height: 60vh;
  }
  .center-div {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  .center-div .qoute {
    font-size: 4.5rem;
    font-weight: 900;
    color: #c89721;
    height: 4rem;
  }
  .center-div .para {
    font-size: 1.1rem;
    color: #7b7272;
    line-height: 2rem;
    font-weight: 600;
    padding: 0% 10%;
  }
  .inner-section {
    display: flex;
    width: 60%;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
  }
  .inner-section img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 9%;
  }
  .amir {
    color: #c89721;
    font-size: 1rem;
    font-weight: 600;
  }
  .Co-Founder {
    color: #7b7272;
    font-size: 1rem;
    font-weight: 600;
  }
  .box-center-elements {
    width: 100%;
    padding-top: 7%;
  }
  .third-para {
    border-radius: 0% 25% 0% 0%;
    background-color: #f4efe5;
    width: 100%;
    height: 90vh;
    margin: auto;
    padding: 3%;
  }
  .third-para h1 {
    color: #2b434a;
    line-height: 3rem;
    padding-top: 5%;
    font-weight: 900;
  }
  .third-para ul li {
    color: #7b7272;
    line-height: 1.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    list-style-position: outside;
    margin-left: 11%;
    padding: 2% 0;
  }
  ul li::before {
    content: "●";
    color: #ff8672;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    font-size: 1.4rem;
    margin-left: -7%;
    margin-top: 0%;
  }
  .btn-section {
    width: 50%;
    margin: auto;
    padding-top: 8%;
    font-size: 1.2rem;
  }
  .div-forth h1 {
    text-align: center;
    color: #2b434a;
    padding: 13% 14%;
    font-weight: 900;
    font-size: 2.1rem;
  }
  #imgSectionBtm {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 7%;
  }
  .imgSection {
    animation: imgSection 5s ease-in-out 0s normal;
    width: 100%;
    padding: 2%;
  }
  @keyframes imgSection {
    from {
      padding: 50%;
      width: 90%;
    }
    to {
      padding: 0%;
      width: 100%;
    }
  }
  .imgSectionBtm {
    animation: imgSectionBtm 5s ease-in-out 0s normal;
    width: 50%;
  }
  @keyframes imgSectionBtm {
    from {
      padding: 50%;
      width: 45%;
    }
    to {
      width: 50%;
      padding: 0%;
    }
  }
  .footer-section-posi {
    background-color: #ff8672;
    top: 0rem;
  }
  .footer-section-posi img {
    width: 30%;
    padding: 5% 0 0 0px;
  }
  .footer-section {
    display: flex;
    color: #ffffff;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .para-footer {
    font-size: 0.9rem;
    width: 80%;
    padding: 0 3%;
    font-weight: 600;
    line-height: 1.4rem;
  }
  .para-footer .footer-sec-para-span {
    padding: 0 20%;
  }
  .icon {
    width: 55%;
    font-size: 1.3rem;
    padding: 4% 10%;
    text-align: center;
  }
  .wave {
    display: none;
  }
  .bg-footer {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
    width: 95%;
    margin: auto;
  }
  .header-img {
    width: 33%;
  }
  .header-img img {
    width: 50%;
    height: 2.5rem;
    padding-top: 4%;
  }
  .header-section {
    display: flex;
    width: 50%;
  }
  .header-section a {
    margin: 2%;
  }
  .btn {
    text-transform: capitalize;
    padding: 6% 1%;
    border-radius: 6rem;
    font-size: 100%;
    font-weight: 900;
    border: none;
    outline: none;
    width: 10rem;
  }
  #main-section {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 3%;
  }
  .main-first-section h1 {
    padding: 5% 3% 3% 0%;
    color: #2b434a;
    font-size: 3rem;
    font-weight: 900;
  }

  .main-first-section p {
    padding: 3% 3% 0% 0%;
    line-height: 1.6rem;
    font-size: 1.1rem;
    color: #7b7272;
    font-weight: 600;
  }
  .main-first-section-btn {
    display: flex;
    flex-direction: column;
  }
  .main-second-section {
    border-radius: 0% 0 25% 0;
    background-color: #ff8672;
    width: 58%;
    height: 65vh;
    margin-top: 6%;
  }
  .main-second-section img {
    width: 100%;
    height: 24rem;
  }
  .center-div {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1rem;
  }
  .center-div .qoute {
    font-size: 4rem;
    font-weight: 900;
    color: #c89721;
    height: 3.5rem;
  }
  .center-div .para {
    font-size: 1.2rem;
    color: #7b7272;
    line-height: 2rem;
    font-weight: 600;
  }
  .inner-section {
    display: flex;
    width: 36%;
    margin: auto;
    padding-top: 2%;
    align-items: center;
  }
  .inner-section img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
  }
  .amir {
    color: #c89721;
    font-weight: 600;
  }
  .Co-Founder {
    color: #7b7272;
    font-weight: 600;
  }
  .third-para {
    border-radius: 0% 25% 0% 25%;
    background-color: #f4efe5;
    width: 75%;
    height: 95vh;
    margin: auto;
    padding: 3%;
  }
  .third-para h1 {
    color: #2b434a;
    line-height: 4rem;
    font-weight: 900;
  }

  .third-para ul li {
    color: #7b7272;
    line-height: 1.3rem;
    font-size: 0.9rem;
    font-weight: 600;
    list-style-position: outside;
    margin-left: 6%;
    padding: 1% 0px;
  }
  ul li::before {
    content: "●";
    color: #ff8672;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    font-size: 1.4rem;
    margin-left: -4%;
    margin-top: 0%;
  }
  .btn-section {
    width: 20%;
    font-size: 1rem;
    font-weight: 900;
    margin: auto;
    padding-top: 3%;
  }
  #imgSectionBtm {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
  }
  .footer-section-posi {
    background-color: #ff8672;
    position: relative;
    top: 0rem;
  }
  .footer-section-posi img {
    padding: 5% 0px;
  }
  .footer-section {
    display: flex;
    color: #ffffff;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  .para-footer {
    font-size: 0.8rem;
    padding: 0 7%;
    font-weight: 600;
    line-height: 1.4rem;
  }
  .icon {
    font-size: 1.3rem;
    text-align: center;
  }
  .wave {
    display: none;
  }
  .bg-footer {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1219px) {
  header {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-items: center;
    width: 94%;
    justify-content: space-between;
  }
  #main-section {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 3%;
  }
  .main-first-section h1 {
    padding: 4% 3% 3% 0%;
    color: #2b434a;
    font-size: 3rem;
    font-weight: 900;
  }
  .main-first-section p {
    padding: 3% 3% 3% 0%;
    line-height: 1.7rem;
    font-size: 1.2rem;
    color: #7b7272;
    font-weight: 600;
  }

  .main-first-section-btn {
    display: flex;
    flex-direction: column;
  }
  .main-first-section button {
    padding: 2% 6%;
    border-radius: 5rem;
    color: #ffffff;
    background-color: #ff8672;
    border: none;
    outline: none;
    font-weight: 900;
    font-size: 1.1rem;
  }
  .anchor-btn-get {
    margin: 3% 20% 3% 0;
    width: 45%;
  }
  .anchor-btn-login {
    margin: 3% 0 3% 0%;
    width: 40%;
  }
  .main-second-section img {
    width: 100%;
    height: 24rem;
  }
  .main-second-section {
    border-radius: 0% 0 25% 0%;
    background-color: #ff8672;
    width: 50%;
    height: 70vh;
  }
  .center-div .para {
    font-size: 1.3rem;
    color: #7b7272;
    line-height: 2.1rem;
    font-weight: 600;
  }
  .inner-section {
    display: flex;
    width: 40%;
    margin: auto;
    padding-top: 2%;
    align-items: center;
  }
  .amir {
    color: #c89721;
    font-size: 1.1rem;
    font-weight: 900;
  }
  .Co-Founder {
    color: #7b7272;
    font-weight: 600;
    font-size: 1rem;
  }
  .third-para {
    border-radius: 0 25% 0 0;
    background-color: #f4efe5;
    width: 70%;
    height: 80vh;
    margin: auto;
    padding: 3% 3%;
  }
  .third-para h1 {
    color: #2b434a;
    line-height: 5rem;
  }
  .third-para ul li {
    color: #7b7272;
    line-height: 1.5rem;
    list-style-type: none;
    font-weight: 600;
  }
  ul li::before {
    content: "●";
    color: #ff8672;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    font-size: 1.5rem;
  }
  .btn-section {
    width: 30%;
    margin: auto;
    padding-top: 3%;
    font-size: 1.1rem;
  }
  #imgSectionBtm {
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
  }
  .footer-section-posi {
    position: relative;
    top: 12rem;
  }
  .footer-section {
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 100%;
    justify-content: space-around;
  }
  .footer-section img {
    width: 20%;
    padding-left: 4%;
  }
  .para-footer {
    font-size: 0.7rem;
    width: 40%;
    font-weight: 600;
    padding: 0 10%;
    line-height: 1.1rem;
  }

  .para-footer p {
    padding-top: 0;
    font-weight: 600;
    text-align: center;
  }
  .icon {
    width: 20%;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1220px) and (max-width: 1919px) {
  .main-second-section img {
    width: 100%;
    height: 24rem;
  }
  .main-second-section {
    border-radius: 0% 25% 0% 25%;
    background-color: #ff8672;
    width: 60%;
    height: 70vh;
    position: relative;
  }
  .third-para {
    border-radius: 0% 25% 0% 25%;
    background-color: #f4efe5;
    width: 60%;
    height: 90vh;
    margin: auto;
    padding: 3%;
  }
  .third-para h1 {
    color: #2b434a;
    line-height: 6rem;
  }
  ul li::before {
    content: "●";
    color: #ff8672;
    font-weight: bold;
    display: inline-block;
    width: 1.5rem;
    font-size: 1.5rem;
  }
  .div-forth h1 {
    text-align: center;
    color: #2b434a;
    padding: 3% 0;
    font-weight: 900;
    font-size: 3rem;
  }
  #imgSectionBtm {
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    /* background-color: #ff8672; */
  }
  .footer-section-posi {
    position: relative;
    top: 15rem;
  }
  .footer-section {
    display: flex;
    color: #ffffff;
    width: 80%;
    justify-content: space-between;
    margin: auto;
  }
  .footer-section img {
    width: 20%;
  }
  .para-footer {
    font-size: 0.9rem;
    width: 40%;
    padding: 0% 4%;
    font-weight: 600;
  }
}
